**Functions in List**

In [3]:
#format attribute
L1=[1,2,3,4,5,6,7]
L2=['Abbas','Rahul','Shiv','Asad','Vikram','Kunal']
print('Lenght of L1 : {} \n Lenght of L2 : {}'.format(len(L1),len(L2)))

Lenght of L1 : 7
 Lenght of L2 : 6

**Append in List (single Element Not Sequence)**

In [4]:
L1.append(1)
print(L1)

[1, 2, 3, 4, 5, 6, 7, 1]

In [5]:
L2.append('Ahmad')
print(L2)

['Abbas', 'Rahul', 'Shiv', 'Asad', 'Vikram', 'Kunal', 'Ahmad']

**Append multiple Value using Extend ( not single element only Iterable)**

In [6]:
L1.append([10,11,12,14]) #It will assume as list so we use EXTEND
print(L1)

[1, 2, 3, 4, 5, 6, 7, 1, [10, 11, 12, 14]]

In [7]:
L1.extend([10,11,12,14])
print(L1)

[1, 2, 3, 4, 5, 6, 7, 1, [10, 11, 12, 14], 10, 11, 12, 14]

In [8]:
#String as Sequencially Treated When Extend applies
L2.extend('Pranay') #It will treat indivisual Characters
print(L2)

['Abbas', 'Rahul', 'Shiv', 'Asad', 'Vikram', 'Kunal', 'Ahmad', 'P', 'r', 'a', 'n', 'a', 'y']

In [9]:
L2.extend(['Pranay'])
print(L2)

['Abbas', 'Rahul', 'Shiv', 'Asad', 'Vikram', 'Kunal', 'Ahmad', 'P', 'r', 'a', 'n', 'a', 'y', 'Pranay']

**Remove Items by its Value(only first occurance if duplicates)**

In [10]:
#Assume we want to remove a in P r a n a y
#it will delete first occurance
L2.remove('a')
print(L2)

['Abbas', 'Rahul', 'Shiv', 'Asad', 'Vikram', 'Kunal', 'Ahmad', 'P', 'r', 'n', 'a', 'y', 'Pranay']

In [12]:
#Suppose here in L1 we want to delete that List element of [10,11,12,14]
L1.remove([10,11,12,14]) #Specify it in a List
print(L1)

[1, 2, 3, 4, 5, 6, 7, 1, 10, 11, 12, 14]

In [18]:
#L2.remove(('P','r','n')) #We have not any function that deletes multiple values from list
#So we do membership operation on List
rmlist=['P','r','n','a','y']
L3=[i for i in L2 if i not in rmlist]# remeber this operations
print(L3)

['Abbas', 'Rahul', 'Shiv', 'Asad', 'Vikram', 'Kunal', 'Ahmad', 'Pranay']

**Pop function (remove last inserted value)**

In [19]:
L1 #Here you can see 14 is last inserted value

[1, 2, 3, 4, 5, 6, 7, 1, 10, 11, 12, 14]

In [20]:
L1.pop()
print(L1)

[1, 2, 3, 4, 5, 6, 7, 1, 10, 11, 12]

In [21]:
#ASsume if we reverse it then think what happend
L1.reverse() #reverse function in List

In [22]:
L1

[12, 11, 10, 1, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
L1.pop()

In [25]:
print(L1)

[12, 11, 10, 1, 7, 6, 5, 4, 3, 2]

In [ ]:
#See, pop thinks actually right, after reversing, the last inserted value is 1 in List L1
#It means pop actually base on items INDEXING

**pop with INDEX**

In [26]:
print(L1)
L1.pop(2) #when index specify it will delete that index item
print(L1)

[12, 11, 10, 1, 7, 6, 5, 4, 3, 2]
[12, 11, 1, 7, 6, 5, 4, 3, 2]

**If You want to know any item index then use pop after**

In [28]:
L1.index(11) #The index of 11 is 1

1

In [30]:
L2.index('Abbas') #In L2 , Abbas Index is 0

0

In [31]:
print(L2)

['Abbas', 'Rahul', 'Shiv', 'Asad', 'Vikram', 'Kunal', 'Ahmad', 'P', 'r', 'n', 'a', 'y', 'Pranay']

**Now sorted function (temporary)**

In [35]:
sorted(L3)

['Abbas', 'Ahmad', 'Asad', 'Kunal', 'Pranay', 'Rahul', 'Shiv', 'Vikram']

In [36]:
L3

['Abbas', 'Rahul', 'Shiv', 'Asad', 'Vikram', 'Kunal', 'Ahmad', 'Pranay']

**sort() function on List**

In [37]:
L3.sort()

In [38]:
print(L3)

['Abbas', 'Ahmad', 'Asad', 'Kunal', 'Pranay', 'Rahul', 'Shiv', 'Vikram']

**Reverse Sort**

In [39]:
L3.sort(reverse=True)

In [40]:
L3

['Vikram', 'Shiv', 'Rahul', 'Pranay', 'Kunal', 'Asad', 'Ahmad', 'Abbas']

**Count the occurance of any word in List** not letter

In [45]:
L3.count('a')

0

In [46]:
L3.count('Asad')

1

**More Functionality with List**

In [48]:
L3
L4=[] #Took a empty list
text="hey there how are you?"
print('text :',text)

text : hey there how are you?

In [49]:
#NOW We want that every character become capital
text.upper() #Yesss,, but remeber this is not permanent changes

'HEY THERE HOW ARE YOU?'

In [50]:
#If you take it in list?
[text.upper()]

['HEY THERE HOW ARE YOU?']

In [51]:
#No, I mean every letter as single single character
#That empty L4=[] list utilize it
text.split()

['hey', 'there', 'how', 'are', 'you?']

In [59]:
#So lets take a loop
for i in text.split(): #I take those index that are in text.split
    a=i.capitalize() #take i that capitalize then store in a
    L4.append(a) #every time a appended in L4 List
print(L4)

['Hey', 'There', 'How', 'Are', 'You?']

**Q1) Find @ and Split from Email Format Text**

In [60]:
p1='momin.naofil@gmail.com'
p2='khan.arbaz@gmail.com'
p3='chaudhryashfaque@gmail.com'

In [61]:
p1.find('@')

12

In [62]:
p2.find('@') #In every string position of @ is different

10

In [63]:
#Lets make it in a List by its variable assigned in a [ ]
mail=[p1,p2,p3]
print(mail)

['momin.naofil@gmail.com', 'khan.arbaz@gmail.com', 'chaudhryashfaque@gmail.com']

In [67]:
#Now for loop
emp=[] #an empty list for future appending
for i in mail:
    #print(i) #Firstly see, then
    #print(i.find('@')) #find position of @
    print(i[:i.find('@')]) #we do silicng here
    a=i[:i.find('@')] #Then same we assign a variable to store
    emp.append(a) #lastyly append them is emp list
print(emp)

momin.naofil
khan.arbaz
chaudhryashfaque
['momin.naofil', 'khan.arbaz', 'chaudhryashfaque']

**Q2) Duplicates values and Unique Values**

In [70]:
L5=[1,1,1,2,2,3,3,3,3,4,4]
L6=[] #In this List , I want only Uniques Values
for i in L5:
    if i not in L6: #Here Those who are already in L6 that wil not go into L6(means Unique)
        L6.append(i)
print(L6)

[1, 2, 3, 4]

**Q3) Make two different list of first name and last name from names**

In [71]:
names=['Momin Naofil','Ansari Zubair','Ansari Hifza','Pandey Dilip','Chaudhry Hemant','Momin Zufa']
print(names)

['Momin Naofil', 'Ansari Zubair', 'Ansari Hifza', 'Pandey Dilip', 'Chaudhry Hemant', 'Momin Zufa']

In [76]:
fnames=[]
lnames=[]
for i in names:
    fn=(i[:i.find(' ')])
    ln=(i[i.find(' '):].strip())
    fnames.append(fn)
    lnames.append(ln)
print(fnames,lnames,sep='\n')

['Momin', 'Ansari', 'Ansari', 'Pandey', 'Chaudhry', 'Momin']
['Naofil', 'Zubair', 'Hifza', 'Dilip', 'Hemant', 'Zufa']