<a href="https://colab.research.google.com/github/iamnaofil/PythonTutorials/blob/main/Tuples_and_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuples in Python**

In [ ]:
#Tuple defines in round Bracket ( )

**Create Tuple** <br>
**Access** <br>
**Edit** <br>
**Add** <br>
**Delete**<br>
**Operations**<br>
**Functions**<br>

In [1]:
#Creating Tupeles
T1=() #It is an Empty Tuple

In [2]:
print(T1)

()

In [3]:
#Creating Numbers Tuple
T2=(1,2,3,4,5) #Homogenous means data types are similr
print(T2)

(1, 2, 3, 4, 5)

In [4]:
T3=('1',2,3,'4') #Hetrogenous Tuple : Different Data Type Items
print(T3)

('1', 2, 3, '4')

**2D - 3D Tuple**

In [6]:
#We can also Create 2D Tuple (( )) inside tuple using bracket in bracket
T4=((1,2,3,4,5,(6,7)))
print(T4)

(1, 2, 3, 4, 5, (6, 7))

**Single Item Tuple**

In [7]:
#T5=(1) That was not created as Tuple
#But its not single item tuple you have to add ,
T5=(1,)
print(T5)

(1,)

**Type Converting by Tuple**

In [8]:
T6=tuple("Single Letter") #Understand Here, ( tells individuality of String)
print(T6)

('S', 'i', 'n', 'g', 'l', 'e', ' ', 'L', 'e', 't', 't', 'e', 'r')

**Q1) Store Sentence into letter by letter**

In [9]:
text="Momin Naofil Ahmad"
text_tuple=(tuple(text))

In [10]:
print(text_tuple)

('M', 'o', 'm', 'i', 'n', ' ', 'N', 'a', 'o', 'f', 'i', 'l', ' ', 'A', 'h', 'm', 'a', 'd')

In [13]:
#Alternative of this Where You can retrive all middle name as i[1] of second position
TEXT_TUPL2=(text.split())
print(TEXT_TUPL2)

['Momin', 'Naofil', 'Ahmad']

In [14]:
T7=[1,2,3,4,5] #is a list
T8=tuple(T7)
print(T8)

(1, 2, 3, 4, 5)

**INDEXING**

In [15]:
T8[0] #first item

1

In [16]:
T8[:4] #From start to 3rd index 4th position

(1, 2, 3, 4)

In [17]:
T8[::-1] #for reverse order

(5, 4, 3, 2, 1)

Primary Difference is <br>
Editing is Not allow in Tuple<br>
Where as List allows Editing<br>
Tuple Immutable <br> List are Mutable

In [ ]:
#NO EDITING DELETING ITEMS

In [18]:
#we can delete tuple
del T8

**Operations in Tuple**

In [19]:
T7

[1, 2, 3, 4, 5]

In [20]:
T6

('S', 'i', 'n', 'g', 'l', 'e', ' ', 'L', 'e', 't', 't', 'e', 'r')

In [21]:
T9=[1,2,3,4,5]

In [22]:
T7+T9 #Concatination like List using +

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [23]:
T7 *2 #Scalar Repitation

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

**Iteration in Tuple**

In [24]:
for i in T7:
    print(i)

1
2
3
4
5

**multi dimensional Tuple Iteration**

In [25]:
T10=tuple([[1,2,3],[4,5,6],[7,8,9]])
print(T10)
print(type(T10))

([1, 2, 3], [4, 5, 6], [7, 8, 9])
<class 'tuple'>

**More Functions**

In [26]:
T7

[1, 2, 3, 4, 5]

In [27]:
len(T7)

5

In [28]:
max(T7)

5

In [29]:
min(T7)

1

In [30]:
sorted(T7)

[1, 2, 3, 4, 5]

In [31]:
sorted(T7,reverse=True)

[5, 4, 3, 2, 1]

In [32]:
sum(T7)

15

In [36]:
#Tuples are Read Only Data Type
#SO tuples has only readonly data functionality

In [ ]:
#Ex- Result from Server can be seen but not modified
#Ex- When Data Intergrity matters